html {
  --primary-color:#2C73D2;
  --secondary-color:#00C9A7;
  --text-primary-color:#C34A36;
  --text-secondary-color:
}

body{
  font-family:'Carter One', cursive;
  font-size:10px;

}

h1{
  color:var(--text-primary-color);
  font-size:3.052em;
}

h2{

}

h3{

}

li,p{
  font-size:2.369em
}

ul{
  list-style-type: none;
}

figure,img{
  max-width: 100%;

}


header{
  background-color: var(--primary-color);
  text-align:center;
  padding: 1rem;
}
