html {
  --primary-color:#2C73D2;
  --secondary-color:#00C9A7;
  --text-primary-color:#C34A36;
  --text-secondary-color:
}

h1{
  color:var(--text-primary-color)
}


body{
  font-family:'Carter One', cursive;

}
